# Установите автоматическое преобразование окончаний строк для всех текстовых файлов
* text=auto

# Установите окончание строк LF для файлов .sh
*.sh text eol=lf

# Установите окончание строк CRLF для файлов .bat
*.bat text eol=crlf

# Игнорировать окончание строк для бинарных файлов
*.png binary
*.jpg binary
