.form-control {
  margin: 1rem 0;
}

.hidden {
  display: none;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea,
.form-control select {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus,
.form-control select:focus {
  outline-color: #00695c;
}

.form-control input.invalid {
  border-color: red;
};

main {
  display: flex;
}

.form-container {
  margin-right: auto; /* Размещение слева */
  padding: 20px; /* Отступы для формы */
  width: 300px; /* Ширина формы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
}

